head {
background-color: black;
}
h1 {
color: white;
text-shadow: 2px 2px 4px;
background-image: radial-gradient(lightblue, darkgray);
text-align: center;
border: 2px solid white;
border-radius: 10px;
padding: 30px;
margin: 10px;
}
button {
white-space: pre-line;
}
body {
background-image: conic-gradient(lightgray, lavender, lightsteelblue);
font-color: white;
}
a {
color: orange;
}
