head {
background-color: black;
}
h1 {
color: white;
text-shadow: gray 2px 2px 4px;
background-image: radial-gradient(lightblue, darkgray);
text-align: center;
border: 2px solid white;
border-radius: 10px;
padding: 30px;
margin: 10px;
margin-bottom: 20px;
}
h2 {
display: flex;
text-align: center;
background: linear-gradient(to bottom right, black, gold);

-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
width: auto;
justify-content: center;
margin: auto;
margin-top: 1%;
margin-bottom: 1%;
padding: 15px;
font-size: 4vw;
}
h3 {
color: honeydew;
text-shadow: darkslateblue 2px 2px 4px;
}
button {
display: flex;
justify-content: center;
text-decoration: underline;
/*These are the almost exact same settings from h1  */
color: gray;
text-shadow: 2px 2px 4px;
background-image: radial-gradient(lightblue, darkgray);
text-align: center;
border: 2px solid white;
border-radius: 10px;
padding: 30px;
}
button:hover {
color: darkorange;
cursor: pointer;
}
/* This small section is specifically for the About Me page */
.centerbtns {
display: flex;
flex-flow: column nowrap;
width: 35%;
gap: 36px;
margin: auto;

}
.collapsible {
background-image: linear-gradient(to bottom right, gainsboro, powderblue);
min-height: 70px;
border: 2px solid aliceblue;
border-radius: 10px;
margin: 10px;
}
.collapsible button {
margin: 1%;
background: none;
text-decoration: none;
background-image: url("darrow.svg");
background-size: 61px;
border: none;
float: left;
}
.collapsible p {
padding: 30px;
}
body {
background-image: conic-gradient(lightgray, lavender, lightsteelblue);
}
#more {display: inline;}
a {
color: orange;
}